/* adapted from https://bl.ocks.org and https://vega.github.io/vega-lite */

.gallerywidget {
  margin: 0 0 0 0;
}

.gallerywidget-text {
  position: relative;
  background-color: rgba(255, 255, 255, 0.75);
  height: auto;
  margin-top: 10px;
  padding: 5px 10px;
}

.gallerywidget-title {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 55px;
}

.gallerywidget-subtitle {
  position: relative;
  color: #777;
  font-weight: 300;
}

.gallerywidget-preview {
    width: 222px;
    height: 102px;

    font-size: 14px;
    color: #000;

    margin: 0 10px 10px 0;
    background-position: left top;
    background-size: cover;
    border: solid 1px #eee;
    /* border-bottom: solid 1px #ccc; */
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    line-height: normal;
    position: relative;
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
    -webkit-transition: ease 2000ms background-position;
    -moz-transition: ease 2000ms background-position;
    -ms-transition: ease 2000ms background-position;
    -o-transition: ease 2000ms background-position;
    transition: ease 2000ms background-position;
}

.gallerywidget-preview:hover, .gallerywidget-preview:focus {
  color: #000;
  background-color: #eee;
  background-position: 50% 100%;
  text-decoration: none;
  /*  adapted from https://vega.github.io/vega-lite/
   *  blue border when hovered
   */
  border: solid 1px #4682b4;
}







